*  {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #16213E;
    color:white;
}



.left-container{
    position: fixed;
    align-items: center;
    width: 26%;
    height:100%;
    left: 0px;
    top: 0px;
    background-color: #1A1A2E;
    
}
.upper-header{
    width:  auto;
    height: 30%;
    left: 0px;
    top: 0px;
    min-height: 100px;

    background: #0F3460;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upper-header .page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    
}

.upper-header h1{
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 36px; 
    font-size: 2.8vw;

}

.upper-header p{
    position: relative;
    text-align: right;
    padding-right: 10px;
    font-size: 1vw;
    
}

.bottom-header{
    position: absolute;
    height: 4%;
    width: 100%;
    bottom: 0px;
    min-height: 20px;

    justify-content: center;
    align-items: center;

    background: #0F3460;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

/*  
    #####################
      Lista de projetos 
    ##################### 
*/


.project-list{
    height: 66%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: blue black;
}

ul{
    padding-left: 2vw;
}


li{
    margin-top: 4vh;
    margin-bottom: 4vh;
    list-style-type:none;
    
}


  

.project-btn{
    background-color: #16213E;
    /*background-image: url(images/GithubIcon.png);*/
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    background-size: 100%;
    border: none;           
    cursor: pointer;        
    height:15vh; 
    width: 90%;  
    transition: 150ms;
    border-radius: 15px; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5vw;
    white-space: normal;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    color: white;
    
    
}


.project-btn:hover{
    transform: translateY(-0.5vh);
    background-color: #121c37;
}
.project-btn:active{
    background-color: #0c101d;
}

/*Caso queira adicionar funções a um botao especifico
pode-se fazer isso atravez do id
#radio-de-galena{
}
*/
#em-breve{
    margin-bottom: 8vh;
    cursor: auto;
    background-color: #272a34;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    color: gray;
}
#em-breve:hover{
    transform: translateY(-0);
    background-color: #272a34;
}


/*  
    #####################
        Bottom header 
    ##################### 
*/
.bottom-header{
    padding-top: 0.6vh;
    padding-left: 0.5vw;
    
}

.contact{
    vertical-align: middle;
    color: white;
    text-decoration: none;
}


/*  
    #####################
    Detalhes dos projetos 
    ##################### 
*/

.right-container{
    position: absolute;
    width: 74%;
    height: 100%;
    right: 0px;
    top: 0px;

}
.project-details-background{
    position: fixed;
    width: inherit;
    height: inherit;
    background: #16213E url("images/ProjectDetailsBG.svg");
    background-repeat: repeat;
    background-size: 200%;
    background-position: -50px;
    background-position-x: -800px;
    z-index: -2;
}
.project-details{
    position: absolute;
    width:  55%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-left: 3vw;
    padding-top: 12vh;

}

.project-details img{
    max-height:100%; 
    max-width:100%;

}
.project-image-background{
    position: absolute;
    left: -0.55vw;
    top: 11vh;
    
    padding-left: inherit;
    
    z-index: -1;
}


.project-description{
    padding-top: 30px;
    font-size: calc(0.9vw + 0.9vh);
    
}


/*  
    #####################
        Link Container 
    ##################### 
*/


.link-container{
    position: fixed;
    width:  32.5%;
    height: 100%;
    right: 0px;
    top: 0px;
    padding-right:3vw;
    padding-left: 3vw;
    
}

.acess-box{
    height: 50%;
    margin-top: 15vh;
    background: #0F3460;
    border-radius: 50px;
    min-height: 50px;    

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


        
    
}

.acess-box h1{
    padding-top: 8vh;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    vertical-align: middle;
    font-size: 2.3vw;
    
}

.acess-button{
    position: absolute;
    background-color: #E94560;
    border: none;
    left: 24%;
    color: #F3A5B2;
    right: inherit;
    font-weight: bold;
    top: 38%;
    padding: 6vh 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.8vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    min-height: 20px;
    transition: 150ms;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.acess-button:hover{
    transform: translateY(-8px);
    background-color: #ce4158;
}
.acess-button:active{
    background-color: #a94253;
}

.repository-btn{
    position: absolute;
    background-image: url(images/GithubIcon.png); 
    left: 35%;

    margin-top: 10px;
    background-repeat: no-repeat;  
    background-color: transparent;
    background-position: 0px 0px;  
    background-size: 100%;
    border: none;           
    cursor: pointer;        
    height:9.5vw; 
    width:8vw;    
    transition: 150ms;      
    
}
.repository-btn:hover{
    transform: translateY(-8px);
}




@media only screen and (orientation: portrait) {
    .left-container{
        position: absolute;
        align-items: center;
        width: 100%;
        height: 20vh;
        left: 0px;
        top: 0px;
        background-color: #1A1A2E;
        
    }

    .upper-header{
        width:  24%;
        height: 100%;
        left: 0px;
        top: 0px;
        min-height: 0px;
        background: #0F3460;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .upper-header .page-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        height: 85%;
        width: 100%;
        
    }
    
    .upper-header h1{
        text-align: center;
        margin-left: 2vw;
        margin-right: 2vw;
        font-size: 4.5vw;
    
    }
    
    .upper-header p{
        position: relative;
        text-align: right;
        padding-right: 10px;
        font-size: 2vw;
        
    }
    
    .bottom-header{
        position: relative;
        height: 2%;
        width: 100%;
        bottom: 0px;
        min-height: 1vh;
    
        justify-content: center;
        align-items: center;
    
        background: #0F3460;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    }
    /*  
        #####################
        Lista de projetos 
        ##################### 
    */


    .project-list{
        position: absolute;
        height: 100%;
        width: calc(80% - 24%);
        overflow: hidden;
        overflow-y: hidden;
        scrollbar-color: blue black;
    
    
    
        top: 0px;
        overflow-x: scroll;
        left: 24%;
        

    }
    
    ul{
        padding-left: 2vw;
        


        margin-top: 15px;
        white-space:nowrap;
        padding-right: 2vw;
        
        
    }
    
    
    li{
        margin-top: 0vh;
        margin-bottom: 0vh;
        list-style-type:none;
        



        margin-left: 1vw;
        margin-right: 1vw;
        display:inline;
        vertical-align: middle;
        
    }
    
    
      
    
    .project-btn{
        background-color: #16213E;
        /*background-image: url(images/GithubIcon.png);*/
        background-repeat: no-repeat;  
        background-position: 0px 0px;  
        background-size: 100%;
        border: none;           
        cursor: pointer;        
        height:15vh; 
        width: 20vw;  
        transition: 150ms;
        border-radius: 15px; 
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 3vw;
        white-space: normal;
        padding-left: 0.8vw;
        padding-right: 0.8vw;
        color: white;
        
        
    }
    
    
    .project-btn:hover{
        transform: translateY(-0.5vh);
        background-color: #121c37;
    }
    .project-btn:active{
        background-color: #0c101d;
    }

    /*Caso queira adicionar funções a um botao especifico
    pode-se fazer isso atravez do id
    #radio-de-galena{
    }
    */
    #em-breve{
        margin-bottom: 0vh;
        cursor: auto;
        background-color: #272a34;

        margin-right: 2vw;
    }
    #em-breve:hover{
        transform: translateY(-0);
        background-color: #272a34;
    }

    /*  
        #####################
            Bottom header 
        ##################### 
    */
    .bottom-header{
        padding-top: 0vh;
        padding-left: 2.5vw;
        z-index: 1;
        height: 2vh;
        
    }

    .contact{
        position: absolute;
        font-size: 1.5vh;
        vertical-align: middle;
        color: white;
        text-decoration: none;
    }

    /*  
        #####################
        Detalhes dos projetos 
        ##################### 
    */

    .right-container{
        position: relative;
        width: 100%;
        height: fit-content;
        left: 0px;
        top: 20vh;
        margin-bottom: 12vh;
        display: flex;
        

    }



    .project-details{
        position: relative;
        width:  100%;
        height: fit-content;
        left: 0px;
        top: 0px;
        background: url("images/ProjectDetailsBG.svg");
        background-size: 200%;
        background-position: -50px;
        background-position-x: -800px;
        z-index: -2;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 6vh;
        padding-bottom: 12vh;
        

    }

    .project-details img{
        max-height:100%; 
        max-width:100%;

    }
    .project-image-background{
        position: absolute;
        left: -2vw;
        top: 5vh;
        
        padding-left: inherit;
        
        z-index: -1;
    }


    .project-description{
        padding-top: 30px;
        font-size: 16px;
    }


    /*  
        #####################
            Link Container 
        ##################### 
    */


    .link-container{
        position:absolute;
        width:  20%;
        height: 20vh;
        right: 0px;
        top:-20vh;
        padding-right: 0px;
        padding-left: 0px;
        
    }

    .acess-box{
        height: 100%;
        margin-top: 0px;
        background: #0F3460;
        border-radius: 2vh 2vh 0px 0px;
        min-height: 50px;    

        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


            
        
    }

    .acess-box h1{
        padding-top: 3vh;
        text-align: center;
        margin-left: 2vw;
        margin-right: 2vw;
        vertical-align: middle;
        font-size: min(15px, 3.5vw);
        
    }

    .acess-button{
        position: fixed;
        background-color: #E94560;
        border: none;
        left:auto;
        right: 0px;
        top: auto;
        bottom: 0%;
        color: #F3A5B2;
        right: inherit;
        font-weight: bold;
        padding: 4vh 3vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3vw;
        margin: 2vh 5px;
        cursor: pointer;
        border-radius: 6vw;
        min-height: 20px;
        transition: 150ms;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .acess-button:hover{
        transform: translateY(-8px);
        background-color: #ce4158;
    }
    .acess-button:active{
        background-color: #a94253;
    }

    .repository-btn{
        position: relative;
        background-image: url(images/GithubIcon.png); 
        left: auto;
        right: -25%;
        bottom: 50%;
        margin-top: 0px;
        background-repeat: no-repeat;  
        background-color: transparent;
        background-position: 0px 0px;  
        background-size: 100%;
        border: none;           
        cursor: pointer;        
        height:60%; 
        width:60%;
        transition: 150ms;    
        
        max-width: 50px;
        
    }
    .repository-btn:hover{
        transform: translateY(-8px);
    }


}