@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar{
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-track{
  background-color: #1C1C1C;
}

::-webkit-scrollbar-thumb{
  background-color: #3C3C3C;
}

@media only screen and (hover: none) and (pointer: coarse){

  ::-webkit-scrollbar{
      width: unset;
      height: unset;
  }
  ::-webkit-scrollbar-track{
      background-color: unset;
  }
  
  ::-webkit-scrollbar-thumb{
      background-color: unset;
  }
  
}


*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  background-color: #252526;

}
.app{
  display: flex;
}


.menu{
  background-color: #1E1E1E;
  display: flex;
  height: 100vh;
  width: 30%;
  position: fixed;
  left: 0px;
  
}
.banner{
  background-color: #1E1E1E;
  width: 100%;
  height: 70px;
  bottom: 0;
  position: absolute;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);
  z-index: 1;


}

#menu-btn{
  visibility: collapse;
}

.about-text{
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
}
.about-text p{
  margin: 0;
}
.about-text a{
  color: white;
}

.options-menu{
  padding-left: 0;
  margin: 0;
  margin-bottom: 70px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);

}

.options-list{
  list-style: none;
}


.question-group{
  flex-wrap: wrap;
}
.group-name{
  font-weight: 500;
  margin-left: 25px;
  font-size: 24px;
  margin-bottom: 10px;
}
.question-selector-button{
  font-size: 16px;
  color: #858578;
  text-align: left;
  font-weight: 500;
  width: 100%;
  background-color: transparent;
  border: none;
  transition: 200ms;
  cursor: pointer;
  padding-left: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 4px;

  border-radius: 20px;

}
.question-selector-button:hover{
  background-color: #858578;
  transform: translateX(10px);
  border-radius: 20px 0px 0px 20px;
  color: #1E1E1E;
}
.question-selector-button:active{
  box-shadow: inset 0px 0px 3px rgb(0, 0, 0);
  background-color: #787d85;



}
.content{
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;  
  display: flex;
  height: fit-content;
  background-color: #252526;

}
#markdown-container{
  padding-left: 40px;
  padding-top: 40px;
  width: 100%;
  height: fit-content;
  padding-right: 40px;
  display:inline;
  
}



.emotional-support{
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 12vh;
  
  z-index: 1;

}




@media only screen and (orientation: portrait) {
  .menu{
    background-color: #1E1E1E;
    display: flex;
    
    position: fixed;
    left: 0px;
    --menu-width:(left);
    word-wrap: break-word;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);
    /*################*/



    width: 100%;
    height: 70px;
    
  }
  .banner{
    background-color: #1E1E1E;
    
    bottom: 0;
    position: absolute;
    z-index: 1;

    /*################*/


    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;


  }
  
  #menu-btn{
    /*################*/
    visibility: visible;
    background-image: url(./resources/MenuBtn.svg);
    background-color: transparent;
    border-color: transparent;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    transition: 100ms;
    margin-top: 10px;
    margin-left: 10px;
    

  }

  #menu-btn:active{
    transform: translateY(2px);

  }


  
  .about-text{
    text-align: right;
    padding-right: 10px;
    font-size: 12px;

    /*################*/
    padding-top: 20px;

    position: absolute;
    top: 0px;
    right: 0px;
  
  }
  .about-text p{
    margin: 0;
  }
  .about-text a{
    color: white;
  }
  .options-menu{
    padding-left: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    /*################*/

    padding-right: 40px;
    padding-top: 0px;
    margin-top: 70px;
    padding-bottom: 10px;
    background-color: #1E1E1E;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.75);
    height: 50vh;
    transform: translateY(-50.5vh);

    transition: 500ms;
    transition-timing-function:ease-in-out;
  }

  

  .menu:hover .options-menu{
    transform: translateY(0);
  }
  
  .question-selector-button:hover{
    background-color: #858578;
    color: #1E1E1E;
    /*################*/
    border-radius: 20px;
    transform: translateX(0);

    
  }

  .content{
    position: absolute;
    right: 0;
    display: flex;
    height: fit-content;
    background-color: #252526;
    /*################*/

    
    top: 80px;
    width: 100%;

  }

  #markdown-container{
    width: 100%;
    height: fit-content;
    /*################*/


    padding-top: 0;


  }

  .emotional-support{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;



    height: 10vh;

  
  }
  


}


